node_modules/
dados/*.db
dados/*.db-journal
dados/*.db-wal
dados/*.db-shm
saida/*
!saida/.gitkeep
.env
.env.local
src/painel/web/dist/
assets/fundos/**/*
!assets/fundos/**/.gitkeep
assets/logo/*
!assets/logo/.gitkeep
assets/musicas/*
!assets/musicas/.gitkeep
assets/fontes/*
!assets/fontes/.gitkeep
.DS_Store
